* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    color: navy;
    background: rgb(136, 196, 216);
}

header {
    padding: 20px;
    background: rgb(136, 196, 216);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header h1 {
    font-weight: bold;
    font-size: 36px;
    color: navy;
    margin: 0;
}

header a {
    text-decoration: none;
    color: navy;
}

header nav {
    margin 10px 0;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

header nav ul li {
    display: inline;
}

header nav ul li a {
    margin: 0 30px;
    font-weight: lighter;
    font-size: 1.55vw;
}

footer {
    background: rgb(136, 196, 216);
    width: 100%;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

footer h2 {
    display: inline;
    color: navy;
    font-size: 20px;
    margin: 0;
}

section {
    padding: 48px;
}

.hero {
background-image: url("../images/color-splash-bg.jpg");
height: 300px;
background-size: cover;
background-position: center;
position: relative;
align-items: flex-start;
}

.hero h3 {
    background: rgb(212, 113, 188);
    padding:20px;
    width: 150px;
    color: navy;
    position: absolute;
    bottom: 30px;
    right: 30px;
}

.intro {
    text-align: left;
}

.intro h2, .projects h2, .contacts h2 {
    font-size: 36px;
    color: navy;
    margin-bottom: 25px;
    padding: 50px 7px 50px 7px;
    border-right: 3px solid;
    border color: navy;
    display: inline-block;
}

.intro p {
    line-height: 1.7;
    color: navy;
    width 80%;
    font-size: 16px;
    margin: 0 auto;
    position: relative;
}

.portrait img {
    width: 35%;
    float: left;

}

.projects {
    text-align: left;
    
}

.contacts {
    text-align: left;
    
}

.contacts address {
    text-align: center;
    margin: 20px 0;
    line-height: 1.5;
    font-size: 16px;
    font-style: normal;
    position: relative;
    
}

@media screen and (max-width: 980px) {
    header {
        padding-bottom: 0;
        justify-content: center;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    header nav ul {
        margin-top: 20px;
        width: 100%;
        justify-content: center;
    }

    header nav ul li a {
        font-size: 20px;
    }

    footer h2, footer div {
        text-align: center;
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    section {
        padding: 30px 15px;
    }

}

@media screen and (max-width: 575px) {
    .intro p {
        width: 100%;
    }
}